extends layout

block content
  h1= title
  p Welcome to #{title}

  #wrapper
    h2 Order List
    #orderList
      table
        thead
          th UserName
          th exeTime
          th Delete?
        tbody
    h2 Add User
    #addRecord
      fieldset
        input#inputUserName1(type='text', placeholder='Username1')
        input#inputUserName2(type='text', placeholder='UserName2')
        button#btnAddRecord Add Record
    h2 Add Time
    #addTime
      fieldset
        input#inputExeTime(type='text', placeholder='ExeTime')
        button#btnAddTime Add Time
        


